@font-face {
  font-family: 'Rubik Mono One';
  src: url('../resources/RubikMonoOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Single Grid';
  src: url(../resources/BitcountSingleGrid.ttf) format('truetype');
}

body {
  font-family: 'Bitcount Single Grid', sans-serif;
  background: linear-gradient(360deg,rgba(0, 245, 255, 1) 0%, rgba(0, 134, 171, 1) 50%, rgba(0, 77, 165, 1) 100%);
  text-align: center;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 1.5rem;
}

.h {
  font-size: 2rem;
}

.top-bar {
  height: 80px;
  background-color: #003847;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 95;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
}
.fa-solid {
  height: 60px;
  width: 60px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 15px;
}
.main {
  padding-bottom: 125;
}
.logo {
  height: 500px;
  width: 500px;
}
a {
  color: black;
}
a:hover {
  filter: drop-shadow(0 0 15px #aeaeaeae);
  transform: scale(0.075);
  transition: all 0.5; 
}
.bottom-bar {
  height: 120px;
  background-color: #003847;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}
.bottom-bar a {
  text-decoration: none;
}
.fa-logo {
  height: 100px;
  width: 100px;
  justify-content: space-between;
  padding: none;
}
.fa-solid:hover {
  filter: drop-shadow(0 0 15px #aeaeae);
  transform: scale(1.075);
  transition: all 0.5;
}
.fa-logo:hover {
  filter: drop-shadow(0 0 15px #aeaeae);
  transform: scale(1.075);
  transition: all 0.5;
}
.bot-invite {
  transform: scale(0.8)
}